{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="card">
		<div class="card-header">
			Naive Bayes
		</div>
		<div class="card-body">
			<p class="card-text">Naïve Bayes is a classification algorithm based on Bayes’ Theorem with an assumption of independence among predictors.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			Support Vector Machines
		</div>
		<div class="card-body">
			<p class="card-text">Support vector machines algorithm is a machine learning algorithm. A classification method that generates non-overlapping partitions and usually employs all attributes.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			Decision Tree
		</div>
		<div class="card-body">
			<p class="card-text">The decision trees algorithm builds models in the form of a tree structure. It works by continuously splitting the data into subsets in order to produce a sine curve with a set of rules.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			K-Nearest Neighbours
		</div>
		<div class="card-body">
			<p class="card-text">A machine learning algorithm used for both classification and regression. It works based on minimum distance from the query to the training samples to determine the K-nearest neighbours.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			K-Value
		</div>
		<div class="card-body">
			<p class="card-text">K is the value used in K-Nearest Neighbours to specify the number of nearest neighbouring classes. It is usually only used for Classification</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			K Metrics
		</div>
		<div class="card-body">
			<p class="card-text">Two different K-Metrics implemented are Manhattan and Euclidean distancing. This are used to calulate the distance between the neighbouring classes.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			Decision tree Metrics
		</div>
		<div class="card-body">
			<p class="card-text">Two different K-Metrics implemented are Entropy (Info Gain) and Gini Index. These are different calculations used in order to split a node<p>
		</div>
	</div>
</div>
{% endblock content %}